.header{
    background-color: #202020;
    color:  rgba(255, 208, 0, 0.993);
    height:74px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 120px;
  letter-spacing: 3px;
  margin-top: 5px;
  border-top-left-radius : 35px;
  border-top-right-radius: 35px;
  font-size: 80%;
}

.wroper{
  background-color: rgb(255, 208, 0);
}

.fv{
    /* 画面の高さの90に指定 */
    height:70vh;
    /* 背景画像の設定 */
    background-position: center;
    /* メインコピーの上下左右中央寄せ */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .odai{
    font-size:100px;
    font-weight: bold;
    text-align: center;
  }

  .btn{
    display: flex;
    justify-content: center;
    height: 21.5vh;

}

  .btn-list{
justify-content: center;
}

  .btn-item{
    color: #000;
    background-color: #fff100;
    border-bottom: 5px solid #6969692c;
    width: 200px;
    height: 50px;
    font-weight: bold;
    margin: 20px;
    -webkit-box-shadow: 0 5px 0 #e6d900;
  box-shadow: 0 5px 0 #e6d900;

  }


  .btn-item:hover {
    -webkit-transform: translate(0, 5px);
  transform: translate(0, 5px);
  -webkit-box-shadow: 0 2px 0 #e6d900;
  box-shadow: 0 10px 0 #e6d900;
  }

  @media screen and (max-width:747px){
    /* ----------------------- */
    /* base_sp
    /* ----------------------- */
    .odai{
      font-size:50px;
      font-weight: bold;
      text-align: center;  
    }

    .btn{
      display: flex;
      justify-content: center;
      height: 21.5vh;
      text-align: center;
  
  }
  
  
    .btn-item{
      color: #000;
      background-color: #fff100;
      border-bottom: 5px solid #6969692c;
      width: 100px;
      height: 50px;
      font-weight: bold;
      -webkit-box-shadow: 0 5px 0 #e6d900;
    box-shadow: 0 5px 0 #e6d900;
    margin: 0px;
  
    }

    .header{
      background-color: #202020;
      color:  rgba(255, 208, 0, 0.993);
      height:69px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 120px;
    letter-spacing: 3px;
    margin-top: 5px;
    border-top-left-radius : 15px;
    border-top-right-radius: 15px;
    font-size: 15%;
  }
  }
